.DriverPageDiv{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
    

}

.link{
    text-decoration: none;
    color: inherit;
}


.DriverPageDiv .link {
 
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
     
 }
 
 .DriverPageDiv .link:hover {
    transform: scale(1.05);
    opacity: 0.9; 
 
 
 }