.footer-div {
    width: auto;
    background-color: #e10602;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
}

.footer-logo{
    max-width: 25%;
}

.footer-nav a{
    text-decoration: none;
    color: white;
}



ul{
   
    display: flex;
    justify-content: space-around;
    list-style-type: none; /* Remove bullets */
}

li{
    margin: 1em;
   
}

.btn {
    background-color: var(--background-color);
    color: white;
    padding: 0.5em 1em;
    border: none;
    outline: none;
    position: relative;
    cursor: pointer;
   
  
    --background-color: #e10602;
    --border-size: 2px;
    --accent-color: white;
   
  }


.btn.btn-border-underline::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: var(--border-size);
    background-color: var(--accent-color);
    transition: transform 300ms ease-in-out;

    transform: scaleX(0);
}


.btn.btn-border-underline:hover::before,
.btn.btn-border-underline:focus::before {
    transform: scaleX(1);
}