.TeamIcon {
    position: relative;
    width:100%;
    height: 400px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    border-radius: 20px;
    padding: 1em;
    margin: 1em;
    font-family: "Bebas Neue", sans-serif;
}