* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;

}

.TeamsPageDiv{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.link{
    text-decoration: none;
}




.TeamsPageDiv .link {
 
   transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    
}

.TeamsPageDiv .link:hover {
   transform: scale(1.05);
   opacity: 0.9; 


}


